<div class="flex-container ">
    <div class="card" style="width: 17rem;">
        <img src={{seccion.foto}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{seccion.telefono}}</h5>
            <p class="card-text text-center">Color: {{seccion.color}}</p>
            <p class="card-text text-center">Camara: {{seccion.camaras}}</p>
            <p class="card-text text-center">Almacenamiento: {{seccion.almacenamiento}}</p>
            <a href="#" class="btn btn-primary text-center">{{seccion.precio}}</a>
        </div>
    </div>
    <div class="card" style="width: 17rem;">
        <img src={{seccion2.foto}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{seccion2.telefono}}</h5>
            <p class="card-text text-center">Color: {{seccion2.color}}</p>
            <p class="card-text text-center">Camara: {{seccion.camaras}}</p>
            <p class="card-text text-center">Almacenamiento: {{seccion2.almacenamiento}}</p>
            <a href="#" class="btn btn-primary text-center">{{seccion2.precio}}</a>
        </div>
    </div>
    <div class="card" style="width: 17rem;">
        <img src={{seccion3.foto}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{seccion3.telefono}}</h5>
            <p class="card-text text-center">Color: {{seccion3.color}}</p>
            <p class="card-text text-center">Camara: {{seccion3.camaras}}</p>
            <p class="card-text text-center">Almacenamiento: {{seccion3.almacenamiento}}</p>
            <a href="#" class="btn btn-primary text-center">{{seccion3.precio}}</a>
        </div>
    </div>

   
</div>


